PORT = 

MONGO_URI = 

JWT_SECRET = 

JWT_EXPIRES_IN = 

CLOUDINARY_API_KEY = 

CLOUDINARY_API_SECRET = 

CLOUDINARY_CLOUD_NAME = Cloudinary Cloud name

EMAIL_USER = Your Email Address for Sending Mail

EMAIL_PASS = Your Email Password for sending mails

START_TIME = Opening Time

END_TIME = Closing Time

OFFICE_IP = Array of your Office Ip

